:root {
  --tileSize: 50px;
  --boardSize: 0px;
}
body {
  background-color: #fbbc05;
}
.endscreen {
    color: green;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  display: none;
  color: red;
  font-family: "Roboto Condensed", sans-serif;
}
.endscreen.show {
  display: block;
}
.endscreen span {
  color: #34a853;
}
.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.board {
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px auto;
  box-sizing: content-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.board .tile {
  background: #f06a6a;
  width: var(--tileSize);
  height: var(--tileSize);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--tileSize) * 0.8);
  cursor: pointer;
  user-select: none;
  transition: background 0.2s ease;
  font-family: Tahoma, sans-serif;
  border: 0.1px solid white;
  border-radius: 5px;
}
.board .tile:hover:not(.tile--checked) {
  background: #34a853;
}
.board .tile--checked {
  background: #4285F4;
}
.board .tile--checked.tile--bomb:before,
.board .tile--checked.tile--bomb:after {
  opacity: 1;
}
.board .tile--checked:hover {
  cursor: default;
}
.board .tile--bomb {
  font-size: calc(var(--tileSize) * 0.5);
}
.board .tile--flagged {
  font-size: calc(var(--tileSize) * 0.5);
}
.minesweeper-btn {
  border-radius: 10px;
  padding: 0 40px;
  height: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #34a853;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 50px;
  transition: all 0.4s;
  outline: none !important;
  border: none;
  text-decoration: none;
}
.minesweeper-btn:hover {
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 767px) {
  .board-wrap {
    transform: scale(0.8);
    width: calc(100% + 160px);
    left: -80px;
    position: relative;
  }
}
@media screen and (max-width: 520px) {
  .board-wrap {
    transform: scale(0.5);
    width: calc(100% + 360px);
    left: -180px;
  }
}
